<div class="container">
	<p id="notice"><%= notice %></p>
	<h1>Editing Recipe</h1>

	<%= render 'form', recipe: @recipe %>
	<br>
	<%= link_to 'Show', @recipe, class: "btn btn-dark" %>
	<%= link_to 'Back', recipes_path, class: "btn btn-dark" %>
</div>